<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename ='style.css')}}">
    <title>Ficha de Treino </title>
</head>
<body>
    <style>
        body {
            background-image: linear-gradient(to right, black, rgba(001, 40, 9, 0.859));
            background-size: 100%;
        }
    </style>

    <div class="box-treinos">
        <h2>Escolha seu treino </h2>
       <div class="box-secund">
            <p> <b> TREINO A - QUADRICEPS/ABDOMEN</b> </p>
            <br>
            <p> <b> TREINO B - TRICEPS/COSTAS/BICEPS</b> </p>
            <br>
            <p> <b> TREINO C - GLUTEOS/POSTERIOR </b> </p>
            <br>
            <p> <b> TREINO D - TRICEPS/COSTAS/BICEPS</b> </p>
            <br>
            <p> <b> TREINO E -- QUADRICEPS/GLUTEOS</b> </p>
       </div>
    </div>
</body>
</html>